ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
li{
  background: #333;
  width: 40%;
  padding: 10px;
  margin: 10px;
  color: #fff;
}

.contacts-container{
width: 80%;
margin: auto;

}
.contact-list{
  display: flex;
 /* flex-wrap: wrap; */
  /* justify-content: space-around; */
  list-style: none;
  
}
.contact-list li{
  width: 28%;
  background: lightslategray;
  color: #fff;
  margin: 15px;
padding: 10px;
border-radius: 10px;
display: flex;
cursor: pointer;

}
.contact-list .left{
  width: 90%;
}
.contact-form{
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.contact-form input{
  padding: 10px;
  margin: 10px;
  width: 50%;
  outline: none;
  font-size: 16px;
}

.contact-form button, .btn{
  width: 50%;padding: 10px;
  margin: 10px;
background: #6cafa4;
color: #fff;
outline: none;
border: none;
border-radius: 8px;
font-size: 20px;
cursor: pointer;
}
.contact-form button:hover,.btn:hover{
  background: #fff;
  border: 2px solid #6cafa4;
  color: #6cafa4;
}
@media screen  and(max-width:768px){

  .contact-list li{
    width: 100%;
    margin-left: -2rem;
    flex-direction: column;
  }
  .contact-list .right{
    width: 100%;
  }
  .contacts-container{
    width: 100%;
  }
  .contact-form{
    width: 100%;

  }
  .contact-form input{
    width: 90%;
    margin: 5px;
  }
  .contact-form button{
    width: 90%;
  }
}